
.card-corpo{
    display: flex;
    height: 40vh;
    justify-content: space-around;
    
}

#corpo-home{
    padding-top: 20px;
    text-align: center;
    color: #b1e052;
    background-color: #0E2141;
}